<div class="side-header">
    <a class="header-brand1" href="/mainPage">
        <!-- <img alt="logo" class="header-brand-img desktop-logo" src="../assets/images/brand/logo.png">
      <img alt="logo" class="header-brand-img toggle-logo" src="../assets/images/brand/logo-1.png"> -->
      <img alt="logo" class="header-brand-img light-logo" src="../assets/images/brand/logo-2.png">
      <img alt="logo" class="header-brand-img light-logo1" src="../assets/images/brand/logo-3.png">
    </a>
    <!-- LOGO -->
    
</div>
