.container{
    margin-top: 2%;
    text-align: center;
}

.role-card {
  border-radius: 12px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-text{
    text-align: center;
}

.role-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}