.form-control {
  display: block;
  width: 75% !important;
  padding: 0.475rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4d5875;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e9edf4;
  border-radius: 7px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


/* .btn-success
{
  float: left !important; 
  margin-right: 10px;
}

.btn-danger
{
  float: left !important; 
} */