.btn{
   margin-left: 10px;
}
.description-cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  flex-wrap: nowrap;
  max-width: 350px;
}

.description-text {
  line-height: 1.7;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 260px;
}
.show-more-btn {
  background: none;
  border: none;
  color: #1976d2;
  cursor: pointer;
  font-size: 12px;
  padding: 0;
  white-space: nowrap;
  flex-shrink: 0;
}
